:root{
  --main-bg-color: #000f24;
  --white: #dae4ef;
  --info-box-color: #00a6ff;
  --red: #f00;
  --green: #00f200;
  --yellow: #fff200;
}

h2{
  margin: 0;
}

p{
  margin: 0;
}

body{
  background-color: var(--main-bg-color);
  color: var(--white);
}

.app{
  width: 375px;
}

.dash-row{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
}

.weather-icon{
  height: 55px;
}

.status-bar{
  display: flex;
}

.status-light{
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-radius: 25px;
  margin:5px;
}

.status-light.good{
  border-color: var(--green);
}
.status-light.warning{
  border-color: var(--yellow);
  background-color: var(--yellow);
}
.status-light.danger{
  border-color: var(--red);
}

.module{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid var(--white);
  border-radius: 15px;
  margin: 10px;
}

.module-title{
  text-transform: uppercase;
  font-weight: normal;
  align-self: flex-start;
}

.module-info{
  display: flex;
}

.status-breakdown{
  text-transform: uppercase;
  text-align: center;
}

.status-breakdown td {
  background: limegreen;
  color: var(--main-bg-color);
  border-radius: 5px;
  padding: 2px;
}

.info-box{
  display: flex;
  flex-direction: column;
  background-color: var(--info-box-color);
  color: var(--main-bg-color);
  border-radius: 15px;
  padding: 10px 5px 5px;
  text-transform: uppercase;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 5px;
}


.info-box img{
  height: 35px;
}

